<div class="card">
  <div class="card-header">
    Шукаємо рецепти
  </div>
  <div class="card-body">
    <h5 class="card-title">Знайди рецепт за інгридієнтами</h5>
    <div class="input-group flex-nowrap">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping"><fa-icon [icon]="faCheese"></fa-icon></span>
      </div>
      <input type="text" class="form-control" placeholder="Почніть вводити назву інгрідієнта" aria-describedby="addon-wrapping">
    </div>
  </div>
</div>
